<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>The SARUS Podcast</title>
</head>
<body>

    
    <div class= "loginbox">

        <div class= "subloginbox">

            <div class="subloginbox1">
                <img src="image/avatarpostercrop.png" alt="poster">
            </div>

            <div class="subloginbox2">

                <a onclick="history.back()">
                    <img src="image/close.png" alt="close">
                </a>

                <form action="forgotpasswordsendemail" method="post">
                    <br> <br>
                    <h3>Forgot Password</h3>

                    <% 
                        if(typeof message !== 'undefined'){
                    %>  
                        <br>
                        <p style="color: red; margin: 1px;"><%= message %></p>
                    <%
                        }
                        else{
                    %>
                        <br> 
                    <%
                        }
                    %>

                    <br>

                    <input type="email" id="email" placeholder="Enter your registered email" name="email">
                    <br> <br>

                     

                    <br> <br>
                    <input type="submit" value="Send Email" id="submitdetails">
                    <br><br>
                </form>
            </div>

        </div>

    </div>

    
</body>
</html>