<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/playpage.css">
    <link rel="stylesheet" href="css/footer.css">

    <title>The SARUS Podcast Playpage</title>
</head>
<body>

    <!--vedio-->
        <div class="midcontent" onmouseover="showcontrols()" onmouseout="showcontrolshide()">

            <video style="width:100%" controls autoplay muted  id="vediodisplay">
                <source src="vedio/avatar.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <div class="submidcontent" id="showcontrol">

                <div class="subsubmidcontent">

                    <div class="subsubmidcontent1">
                        <img src="image/leftarrow.png" alt="back" onclick="history.back()">
                    </div>
                    
                    <div class="subsubmidcontent2">
                        <h2>Avatar</h2>
                        <h3>S1 E1 The Shoot-Out</h3>
                    </div>

                </div>

                <a href="">

                    <div class="subsubmidcontent0">
                        <img src="image/next.png" alt="next">
                        <h3>Next Episode</h3>
                    </div>

                </a>

            </div> 

        </div>
    <!--vedio-->

    <!--description-->

        <div class="share" >
            <a onclick="myFunctionlink()">
                <img src="image/share.png" alt="share">
                <p>Share</p>
            </a>
            <div class="copymessage" id="copyid">
                <img src="image/tick.png" alt="tick">
                <h3>Shared link copied to the clipboard.</h3>
            </div>
        </div>

        <div  class="description">
            <h3> <b>Avatar - Season 1 - Episode 1</b> </h3>
            <br>
            <h4>The Dance of Death</h4>
            <p id = "bluee">01 Jun 2023 <b>&#x2022;</b> 59 min <b>&#x2022;</b> Hindi <b>&#x2022;</b> Thriller <b>&#x2022;</b> U/A 16+</p>
            <br>
            
            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, repudiandae error. Maiores architecto optio ad ut laboriosam corrupti, modi hic! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod deserunt esse praesentium maxime? <button onclick="moredescription()" id="button1"><b>Show more</b></button> </h4>
            
            <div class="animation1">
                <div id="moredescription" class="imaginary">
    
                    <br>
                    <h4 id="greyyy">Cast: N/A</h4>
                    <h4>
                        <button onclick="moredescription()" id="button2"><b>Show less</b></button> 
                    </h4>
    
                </div>
            </div>


            
            <!--<button><b>Show less</b></button>-->
        </div>
    <!--description-->

    <br>
    <hr>

    <!--rest episode-->
        <div class="restepisodeheading">
            <h3>Episodes</h3>
        </div>
    <div class="slider">
        
            <div class="slide">
                <img src="image/avatarposter.png" alt="thumbnail">
                <img src="image/playw.png" alt="play" id ="playimg">
                <div>
                    <h4>The Shoot-Out</h4>
                    <p>S1-E1 <b>&#x2022;</b> 5 May 2023 <b>&#x2022;</b> 38m</p>
                </div>
            </div>

            <div class="slide">
                <img src="image/avatarposter2.png" alt="thumbnail">
                <img src="image/playw.png" alt="play" id ="playimg">
                <div>
                    <h4>Hidden ground</h4>
                    <p>S1-E2 . 5 May 2023 . 48m</p>
                </div>
            </div>

            <div class="slide">
                <img src="image/avatarposter3.png" alt="thumbnail">
                <img src="image/playw.png" alt="play" id ="playimg">
                <div>
                    <h4>The Shoot-Out</h4>
                    <p>S1-E1 <b>&#x2022;</b> 5 May 2023 <b>&#x2022;</b> 38m</p>
                </div>
            </div>

            <div class="slide">
                <img src="image/avatarposter4.png" alt="thumbnail">
                <img src="image/playw.png" alt="play" id ="playimg">
                <div>
                    <h4>The Shoot-Out</h4>
                    <p>S1-E1 <b>&#x2022;</b> 5 May 2023 <b>&#x2022;</b> 38m</p>
                </div>
            </div>

            <div class="slide">
                <img src="image/avatarposter.png" alt="thumbnail">
                <img src="image/playw.png" alt="play" id ="playimg">
                <div>
                    <h4>The Shoot-Out</h4>
                    <p>S1-E1 <b>&#x2022;</b> 5 May 2023 <b>&#x2022;</b> 38m</p>
                </div>
            </div>

            <div class="slide">
                <img src="image/avatarposter2.png" alt="thumbnail">
                <img src="image/playw.png" alt="play" id ="playimg">
                <div>
                    <h4>Hidden ground</h4>
                    <p>S1-E2 . 5 May 2023 . 48m</p>
                </div>
            </div>

            <div class="slide">
                <img src="image/avatarposter3.png" alt="thumbnail">
                <img src="image/playw.png" alt="play" id ="playimg">
                <div>
                    <h4>The Shoot-Out</h4>
                    <p>S1-E1 <b>&#x2022;</b> 5 May 2023 <b>&#x2022;</b> 38m</p>
                </div>
            </div>

            <div class="slide">
                <img src="image/avatarposter4.png" alt="thumbnail">
                <img src="image/playw.png" alt="play" id ="playimg">
                <div>
                    <h4>The Shoot-Out</h4>
                    <p>S1-E1 <b>&#x2022;</b> 5 May 2023 <b>&#x2022;</b> 38m</p>
                </div>
            </div>
        
    </div>
    <!--rest episode-->

    <hr>

    <br><br>

    <!--footer-->
        <footer style="margin-left: 2%;">
    
            <div class="footer0">
                <h3>Company</h3>
                <br><br>
    
                <a href="">
                    <p>About US</p>
                </a>
    
                <br>
    
                <a href="">
                    <p>Careers</p>
                </a>
    
                <br><br>
    
                <p>© 2023 The SARUS. All Rights Reserved. </p>
            </div>
    
            <div class="footer1">
                <h3>View Website in</h3>
    
                <br><br>
    
                <a href="">
                    <p>✔ &nbsp; English</p>
                </a>
    
            </div>
    
            <div class="footer2">
                <h3>Need help?</h3>
    
                <br><br>
    
                <a href="">
                    <p>Visit Help Center</p>
                </a>
    
                <br>
    
                <a href="">
                    <p>Share Feedback</p>
                </a>
    
            </div>
    
            <div class="footer3">
                <h3>Connect With Us</h3>
                <br><br>
    
                <div class="subfooter3">
                    <a href="">
                        <img src="image/twitter.png" alt="twitter">
                    </a>
                    <br>
                    <a href="">
                        <img src="image/instagram.png" alt="insta">
                    </a>
                    <br>
                    <a href="">
                        <img src="image/youtube.png" alt="youtube">
                    </a>
                </div>
    
            </div>
    
        </footer>
    <!--footer-->

    <script src="js/vedio.js"></script>
    <!--<script src="js/restvideoslider.js"></script>-->
 

</body>
</html>