<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer.css">
    
    <title>The SARUS Podcast</title>
</head>
<body id="disablescroll">

    <!--sideheader-->
        <div class="sideheader">
    
            <div class="sideheader1">
                    <h1>The <br> SARUS</h1>
            </div>
            <br><br><br><br><br>
    
            <div class="sideheaderimg">
                <a href="user" class="tooltip">
                    <img src="image/user.png" alt="img1">
                    <span class="tooltiptext">User</span>
                </a>
            </div>
    
            <div class="sideheaderimg">
                <a href="/" class="tooltip">
                    <img src="image/home.png" alt="img1">
                    <span class="tooltiptext">Home</span>
                </a>
            </div>
    
            <div class="sideheaderimg">
                <a href="search" class="tooltip">
                    <img src="image/search.png" alt="img1">
                    <span class="tooltiptext">search</span>
                </a>
            </div>

            <div class="sideheaderimg">
                <a href="/channel" class="tooltip">
                    <img src="image/channel.png" alt="img1">
                    <span class="tooltiptext">Channels</span>
                </a>
            </div>
    
        </div>


        <!--<div class ="sideheaderanimation">
            <div>
               <h2>home</h2>
            </div>
            <div>
               <h2>home</h2>
            </div>
            <div>
               <h2>home</h2>
            </div>
            <div>
               <h2>home</h2>
            </div>
        </div>-->
    <!--sideheader-->
    
    <!--hamburger-->
        <div class="hamburger">

            <div class="hamburgericon">
                <img src="image/hamburger.png" alt="hamburger" onclick="opennav()">
            </div>

            <div class="hamburgerheading">
                <h1>The SARUS</h1>
            </div>

            <div class="hamburgersearch">
                <a href="search"> <img src="image/search.png" alt="search"> </a>
            </div>

        </div>

        <div class="hamburgercontent"  id ="openham">

            <div class="hamburgerclose" onclick="closenav()">
                <img src="image/close.png" alt="close">
            </div>


            <div class="subhamburgercontent" id="subopenham">
                  
                <div class="hamburgerimg1">
                    <a href="user"> <img src="image/user.png" alt="img1"> </a>
                    <a href="user"> <h1>Profile</h1> </a>
                </div>
            
                <div class="hamburgerimg2">
                    <a href="/"> <img src="image/home.png" alt="img1"> </a>
                    <a href="/"> <h1>Home</h1>  </a>
                </div>
            
                <div class="hamburgerimg3">
                    <a href="/"> <img src="image/channel.png" alt="img1"> </a>
                    <a href="/"> <h1>Channels</h1> </a>
                </div>
                
            </div>

        </div>
    <!--hamburger-->
 
    <!--topcontent-->
        <div class = "topcontent">
            <div class="subtopcontent1"> <img src="image/headimage.jpg" alt="head image"> </div>
            <div class="subtopcontent2"> 
                <div class="topcontentcnt1"> 
                    <img src="image/thesaruslogo.jpg" alt="logo"><h1>The SARUS </h1>
                </div>
                <br>
                <div class="topcontentcnt2"> <h4>Your one-stop destination for Sports,Comedy, Drama, Thrillers &amp; more!</h4></div>
                <br> <br>
                <div class="topcontentcnt3"> <a href="search"> <button>Explore</button> </a> </div> 
            </div>
        </div>

        <div class = "topcontent3">
            <div class="subtopcontent31">
                <div class="subtopcontent311">
                    <img src="image/thesaruslogo.jpg" alt="logo">
                </div>
                <div class="subtopcontent312">
                    <p id="whitee">The SARUS</p>
                    <p id="greyyy">Your one-stop destination for <br> Sports,Comedy, Drama, Thrillers &amp; more!</p>
                </div>
            </div>
            <div class="subtopcontent32"> <a href="search"><button>Explore</button></a>  </div>
        </div>

    <!--topcontent-->

    <!--midcontent-->
        <div  class="midcontent">

            <div  class = "videoslide">
                <video style="width:100%"autoplay muted loop>
                    <source src="vedio/avatar.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div  class = "videoslide">
                <video style="width:100%"autoplay muted loop>
                    <source src="vedio/avatar2.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div  class = "videoslide">
                <video style="width:100%"autoplay muted loop>
                    <source src="vedio/avatar3.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div  class = "videoslide">
                <video style="width:100%"autoplay muted loop>
                    <source src="vedio/avatar4.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
            

            <div class="midcontentupper1">
                <button>  <h2><img src="image/playw.png" alt="play" style="width: 16px; opacity: 1;"> Watch Now</h2> </button>
            </div>
            <div class="midcontentupper11">
                <button>  <h2><img src="image/playw.png" alt="play" style="width: 16px; opacity: 1;"> Watch Now</h2> </button>
            </div>

            <div class="midcontentupper2">
                <div class="midcontentupper2img0">
                    <img src="image/back.png" alt="poster" onclick = "myslider(-1,0)">
                </div>
                <div class="midcontentupper2img">
                    <img src="image/avatarposter.png" alt="poster" class="dot" onclick = "myslider(0,1)">
                </div>
                <div class="midcontentupper2img">
                    <img src="image/avatarposter2.png" alt="poster" class="dot" onclick = "myslider(0,2)">
                </div>
                <div class="midcontentupper2img">
                    <img src="image/avatarposter3.png" alt="poster" class="dot" onclick = "myslider(0,3)">
                </div>
                <div class="midcontentupper2img">
                    <img src="image/avatarposter4.png" alt="poster" class="dot" onclick = "myslider(0,4)">
                </div>
                <div class="midcontentupper2img0">
                    <img src="image/forward.png" alt="poster" onclick = "myslider(1,0)">
                </div>
            </div>

            <div class="midcontentupper3">
                <div class="midcontentupper3img0">
                    <img src="image/back.png" alt="poster" onclick = "myslider(-1,0)">
                </div>

                <div class="midcontentupper3img1">
                    <img src="image/forward.png" alt="poster" onclick = "myslider(1,0)">
                </div>
            </div>


            <div class="midcontentheading">
                <img src="image/avatarlogo.png" alt="logo">
                <br> <br>
                <h4 id="greyyy">2023 <b>&#x2022;</b> 2 Season <b>&#x2022;</b> 1 Languages <b>&#x2022;</b> U/A 16+</h4>
                <br>
                <h4>Set more than a decade after the first film, dive into the story of the Sully family; the lengths they go to keep each other safe and the tragedies they endure.</h4>
            </div>

            <div class="midcontentheading1">
                <img src="image/avatarlogo.png" alt="logo">
            </div>

        </div>
    <!--midcontent-->

    <br>

    <!--bottomcontent-->
        <div class="bottomcontent1">

                <div class="subbottomcontent1">

                  <h3>Latest Releases</h3>
                  
                  <!--<div class="prev"> <img src="image/back.png" alt="back"> </div>
                  <div class="forward"> <img src="image/forward.png" alt="forward"> </div>-->
    
                  <div class="bottomcontent">
                      
                      <div class="subbottomcontent" onmouseover="hovershow(1)" onmouseleave="hoverhide(1)">
                          <a href="/openedlist">
                              <img src="image/schooloflies.png" alt="poster">
    
                              <div class="hovercontent" id="hovershow1">
                                  <center>
                                      <button> <img src="image/play.png" alt="play" style="width: 10px;"> <b>Watch Now</b> </button>
                                  </center>
                                  <h4>Schools Of Lies</h4>
                                  <p> 2023 <b>&#x2022;</b> 1 Languages <b>&#x2022;</b> 1 Season <b>&#x2022;</b> U/A 16+</p>
                              </div>
    
                          </a>
                      </div>
                      
                      <div class="subbottomcontent" onmouseover="hovershow(2)" onmouseleave="hoverhide(2)">
                          <a href="/openedlist">
                              <img src="image/schooloflies.png" alt="poster">
    
                              <div class="hovercontent" id="hovershow2">
                                  <center>
                                      <button> <img src="image/play.png" alt="play" style="width: 10px;"> <b>Watch Now</b> </button>
                                  </center>
                                  <h4>Schools Of Lies</h4>
                                  <p> 2023 <b>&#x2022;</b> 1 Languages <b>&#x2022;</b> 1 Season <b>&#x2022;</b> U/A 16+</p>
                              </div>
                          </a>
                      </div>
                      
                      <div class="subbottomcontent" onmouseover="hovershow(3)" onmouseleave="hoverhide(3)">
                          <a href="/openedlist">
                              <img src="image/schooloflies.png" alt="poster">
    
                              <div class="hovercontent" id="hovershow3">
                                  <center>
                                      <button> <img src="image/play.png" alt="play" style="width: 10px;"> <b>Watch Now</b> </button>
                                  </center>
                                  <h4>Schools Of Lies</h4>
                                  <p> 2023 <b>&#x2022;</b> 1 Languages <b>&#x2022;</b> 1 Season <b>&#x2022;</b> U/A 16+</p>
                              </div>
                          </a>
                      </div>
                      
                      <div class="subbottomcontent" onmouseover="hovershow(4)" onmouseleave="hoverhide(4)">
                          <a href="/openedlist">
                              <img src="image/schooloflies.png" alt="poster">
    
                              <div class="hovercontent" id="hovershow4">
                                  <center>
                                      <button> <img src="image/play.png" alt="play" style="width: 10px;"> <b>Watch Now</b> </button>
                                  </center>
                                  <h4>Schools Of Lies</h4>
                                  <p> 2023 <b>&#x2022;</b> 1 Languages <b>&#x2022;</b> 1 Season <b>&#x2022;</b> U/A 16+</p>
                              </div>
                          </a>
                      </div>
                      
                      <div class="subbottomcontent" onmouseover="hovershow(5)" onmouseleave="hoverhide(5)">
                          <a href="/openedlist">
                              <img src="image/schooloflies.png" alt="poster">
    
                              <div class="hovercontent" id="hovershow5">
                                  <center>
                                      <button> <img src="image/play.png" alt="play" style="width: 10px;"> <b>Watch Now</b> </button>
                                  </center>
                                  <h4>Schools Of Lies</h4>
                                  <p> 2023 <b>&#x2022;</b> 1 Languages <b>&#x2022;</b> 1 Season <b>&#x2022;</b> U/A 16+</p>
                              </div>
                          </a>
                      </div>
                      
                      <div class="subbottomcontent" onmouseover="hovershow(6)" onmouseleave="hoverhide(6)">
                          <a href="/openedlist">
                              <img src="image/schooloflies.png" alt="poster">
    
                              <div class="hovercontent" id="hovershow6">
                                  <center>
                                      <button> <img src="image/play.png" alt="play" style="width: 10px;"> <b>Watch Now</b> </button>
                                  </center>
                                  <h4>Schools Of Lies</h4>
                                  <p> 2023 <b>&#x2022;</b> 1 Languages <b>&#x2022;</b> 1 Season <b>&#x2022;</b> U/A 16+</p>
                              </div>
                          </a>
                      </div>
                      
                      <div class="subbottomcontent" onmouseover="hovershow(7)" onmouseleave="hoverhide(7)">
                          <a href="/openedlist">
                              <img src="image/schooloflies.png" alt="poster">
    
                              <div class="hovercontent" id="hovershow7">
                                  <center>
                                      <button> <img src="image/play.png" alt="play" style="width: 10px;"> <b>Watch Now</b> </button>
                                  </center>
                                  <h4>Schools Of Lies</h4>
                                  <p> 2023 <b>&#x2022;</b> 1 Languages <b>&#x2022;</b> 1 Season <b>&#x2022;</b> U/A 16+</p>
                              </div>
                          </a>
                      </div>
              
                  </div>

                </div>


                <br><br>

            <h3>Popular Podcast</h3>

                <div class="bottomcontent">
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <!--<div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>-->
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
            
                </div>
                
                <br><br>

                <h3>Latest Releases</h3>

                <div class="bottomcontent">
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <!--<div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>-->
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
                    
                    <div class="subbottomcontent">
                        <a href="/openedlist">
                            <img src="image/schooloflies.png" alt="poster">
                        </a>
                    </div>
            
                </div>    
        </div>
    <!--bottomcontent-->
    
    <br><br>

    <!--footer-->
        <footer>

            <div class="footer0">
                <h3>Company</h3>
                <br><br>

                <a href="">
                    <p>About US</p>
                </a>

                <br>

                <a href="">
                    <p>Careers</p>
                </a>

                <br><br>

                <p>© 2023 The SARUS. All Rights Reserved. </p>
            </div>

            <div class="footer1">
                <h3>View Website in</h3>

                <br><br>

                <a href="">
                    <p>✔ &nbsp; English</p>
                </a>

            </div>

            <div class="footer2">
                <h3>Need help?</h3>

                <br><br>

                <a href="">
                    <p>Visit Help Center</p>
                </a>

                <br>

                <a href="">
                    <p>Share Feedback</p>
                </a>

            </div>

            <div class="footer3">
                <h3>Connect With Us</h3>
                <br><br>

                <div class="subfooter3">
                    <a href="">
                        <img src="image/twitter.png" alt="twitter">
                    </a>
                    <br>
                    <a href="">
                        <img src="image/instagram.png" alt="insta">
                    </a>
                    <br>
                    <a href="">
                        <img src="image/youtube.png" alt="youtube">
                    </a>
                </div>

            </div>

        </footer>
    <!--footer-->


    <script src="js/hamburger.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/box.js"></script>

</body>
</html>